[submodule "lib/libopencm3"]
	path = lib/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
